.widget-offline-search .search-container {
    position: relative;
}

.widget-offline-search .search-container input {
    display: inline-block;
    padding-left: 30px;
}

.widget-offline-search .search-container .btn-transparent {
    border: none;
}

.widget-offline-search .search-container button {
    position: absolute;
    right: 2px;
    top: 7px;
}

.widget-offline-search .search-container > span {
    left: 10px;
    position: absolute;
    top: 9px;
}
